{{define "content" -}}
    <main class="vox-container vox-p-y-xl">
      <p>Deploy history has moved to the <a href="/code.html?tab=deploys">Code</a> page. Redirecting&hellip;</p>
    </main>
{{- end}}
