{{define "content" -}}
    <main class="vox-container vox-p-y-xl">
      <div class="vox-display-flex vox-justify-between vox-items-center vox-gap-md vox-m-bottom-lg">
        <h1 class="vox-ts-xl vox-m-y-none" data-i18n>Node groups</h1>
        <vox-button variant="brand" href="/group.html" data-i18n>New group</vox-button>
      </div>

      <div id="results"></div>
    </main>
{{- end}}
