{{define "content" -}}
    <main class="vox-container vox-p-y-xl login-container">
      <h1 class="vox-ts-xl vox-m-bottom-md">Signing in&hellip;</h1>
      <div id="form-error"></div>
    </main>
{{- end}}
