{{define "content" -}}
    <main class="vox-container vox-p-y-xl">
      <h1 class="vox-ts-xl vox-m-bottom-lg" data-i18n>Packages</h1>

      <div id="search-error"></div>

      <div class="filters vox-display-flex vox-items-end vox-gap-md vox-flex-wrap vox-m-bottom-md">
        <vox-input id="name-filter" label="Package name" placeholder="Filter by name" data-i18n-attr="label,placeholder"></vox-input>
        <vox-input id="version-filter" label="Version" placeholder="Filter by version" data-i18n-attr="label,placeholder"></vox-input>
        <vox-select id="provider-filter" label="Provider" data-i18n-attr="label">
          <option value="" data-i18n>All</option>
        </vox-select>
        <vox-combobox id="group-filter" label="Group" style="display: none" placeholder="All" data-i18n-attr="label,placeholder">
          <option value="" data-i18n>All</option>
        </vox-combobox>
      </div>

      <div id="coverage" class="vox-ts-sm vox-m-bottom-md"></div>
      <div id="results"></div>
    </main>
{{- end}}
