{{define "content" -}}
    <main class="vox-container vox-p-y-xl">
      <h1 class="vox-ts-xl vox-m-bottom-lg">Packages</h1>

      <div id="search-error"></div>

      <div class="filters vox-display-flex vox-items-end vox-gap-md vox-flex-wrap vox-m-bottom-md">
        <vox-input id="name-filter" label="Package name" placeholder="Filter by name"></vox-input>
        <vox-input id="version-filter" label="Version" placeholder="Filter by version"></vox-input>
        <vox-select id="provider-filter" label="Provider">
          <option value="">All</option>
        </vox-select>
        <vox-select id="group-filter" label="Group" style="display: none">
          <option value="">All</option>
        </vox-select>
      </div>

      <div id="coverage" class="vox-ts-sm vox-m-bottom-md"></div>
      <div id="results"></div>
    </main>
{{- end}}
