{{define "content" -}}
    <main class="vox-container vox-p-y-xl">
      <vox-breadcrumbs>
        <a href="/" data-i18n>Nodes</a>
        <a id="node-link" href="/">…</a>
        <span aria-current="page" data-i18n>Report</span>
      </vox-breadcrumbs>
      <h1 class="vox-ts-xl vox-m-bottom-md" data-i18n>Resource events</h1>

      <div class="filters vox-display-flex vox-items-end vox-gap-md vox-flex-wrap vox-m-bottom-lg">
        <vox-select id="status-filter" label="Status" data-i18n-attr="label">
          <option value="" data-i18n>All</option>
          <option value="success" data-i18n>Success</option>
          <option value="failure" data-i18n>Failure</option>
          <option value="noop" data-i18n>Noop</option>
          <option value="skipped" data-i18n>Skipped</option>
        </vox-select>
      </div>

      <div id="events"></div>
    </main>
{{- end}}
