{{define "content" -}}
    <main class="vox-container vox-p-y-xl">
      <vox-subnav label="Admin" class="vox-m-bottom-lg" data-i18n-attr="label">
        <a href="/users.html" data-i18n>Users</a>
        <a href="/roles.html" aria-current="page" data-i18n>Roles</a>
        <a href="/service-tokens.html" data-i18n>Service tokens</a>
      </vox-subnav>

      <h1 class="vox-ts-xl vox-m-bottom-md" data-i18n>Roles</h1>

      <section>
        <h2 data-i18n>New role</h2>
        <div id="create-error"></div>
        <div class="vox-m-bottom-md">
          <vox-input id="new-role-name" label="Name" required data-i18n-attr="label"></vox-input>
        </div>
        <div class="vox-m-bottom-md">
          <div id="new-role-permissions" class="vox-display-flex vox-flex-wrap vox-gap-md"></div>
        </div>
        <div class="vox-display-flex vox-gap-sm vox-m-top-lg">
          <vox-button id="create-role" variant="brand" data-i18n>Create role</vox-button>
        </div>
      </section>

      <section>
        <h2 data-i18n>All roles</h2>
        <div id="results"></div>
      </section>
    </main>
{{- end}}
